<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<div id="charts">
    <canvas id="chart1" width="400" height="400"></canvas>
</div>
<script>
    Chart.defaults.global.maintainAspectRatio = false;
    var ctx = document.getElementById("chart1");

    var ip = '145.24.222.132';
    var port = '8081';

    var url = 'http://' + ip + ':' + port + '/stats/newUsersPerDate';
    $.get(url, function(retrievedData) {
        var i = retrievedData.length - 1;
        var numberOfNewUserslist = [];
        var dateList = [];
        for (i; i >= 0; i--) {
            numberOfNewUserslist.push(data[i]['count(u.username']);
            dateList.push(data[i]['u.createDay'] + ', ' + data[i]['u.createMonth'] + data[i]['u.createYear']);
        }

        var chart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dateList,
                datasets: [{
                    label: '# of new users',
                    data: numberOfNewUserslist,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    });
</script>