<div id="profile">
    <p class="title">Edit</p>
    <form id="editform">
        <input type="text" name="currentusername" placeholder="Current Username"><br>
        <input id="currentpasswordinput" type="password" name="currentpassword" placeholder="Current Password"><br><br>
        <input type="text" name="username" placeholder="New Username"><br>
        <input type="password" name="password" placeholder="New Password"><br>
        <input type="text" name="firstname" placeholder="New Firstname"><br>
        <input type="text" name="lastname" placeholder="New Lastname"><br>
    </form>
    <button id="editsubmit" onclick="submitEdit()">Submit</button>
</div>