<div id="filterbar">
    <div id="filtermakemodel">
        <p>Make & Model</p>
        <select class="selector" id="selectmake">
            <option value="" disabled="disabled" selected="selected">Brand</option>
        </select>
        <select class="selector" id="selectmodel">
            <option value="" disabled="disabled" selected="selected">Model</option>
        </select>
    </div>
    <div id="filteryear">
        <p>Year</p>
        <select class="selector" id="selectyear">
            <option value="" disabled="disabled" selected="selected">Year</option>
        </select>
    </div>
</div>