<div class="demo-container">
    <div class="card-wrapper"></div>
    <div class="form-container active">
        <form>
            <input type="tel" name="number" id="kaartnummer" minlength="12" placeholder="**** **** **** ****" required>
            <input type="text" name="name" id="voornaam" minlength="2" maxlength="18" placeholder="Name on creditcard" required>
            <input type="tel" name="expiry" id="verloop" placeholder="MM/YY" required>
            <input type="tel" name="cvc" id="codecode" minlength="3" maxlength="4" placeholder="CVC" required>
        </form>
        <button onclick="cardValidation()"> Confirm Payment</button>
    </div>
</div>

<script>
    new Card({
        form: document.querySelector('form'),
        container: '.card-wrapper',
        width: 350 // optional — default 350px
    });
</script>