<div id="profile">
    <p class="title">Account</p>
    <p id="name">Firstname: </p>
    <p id="lastname">Lastname: </p>
    <p id="username">Username: </p>
    <p id="address">Address: </p>
    <p id="postalcode"> Postal Code: </p>
    <p id="country">Country: </p>
    <p id="shipaddress">Shipping Address: </p>
    <p id="shippostalcode">Shipping Postal Code: </p>
    <p id="shipcountry">Shipping Country: </p>
    <p id="role">Qualification: </p>
    <p id="status">Status: </p>

    <div id="profileButtons">
        <button onclick="logOut()">Log Out</button>
        <button onclick="setEditProfileView()">Edit Profile</button>
        <button onclick="setHistoryView()">Order History</button>
    </div>
</div>