<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form id="register" >
      First name:<br>
      <input type="text" id="firstname" name="firstname"/><br>
      Last name:<br>
      <input type="text" id="lastname" name="lastname" />
      Address:<br>
    <input type="text" id="address" name="address" />
      Postal code:<br>
    <input type="text" id="postalcode"  name="postalcode" />
      Country:<br>
    <input type="text" id="country"  name="country" />
      Shipping address:<br>
    <input type="text" id="shipaddress" name="shipaddress" />
      Shipping postal code:<br>
    <input type="text" id="shippostalcode" name="shippostalcode" />
      Shipping country:<br>
    <input type="text" id="shipcountry" name="shipcountry" />
      Username:<br>
    <input type="text" id="username" name="username" />
      Password:<br>
    <input type="text" id="password" name="password" />
</form>
<button onclick="submitRegister()">Register</button>
</body>
</html>