<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form id="register" >
    First name:
    <input type="text" id="firstname" name="firstname"/><p id="error-Firstname"></p><br>
    Last name:
    <input type="text" id="lastname" name="lastname" /><p id="error-Lastname"></p><br>
    Address:
    <input type="text" id="address" name="address" /><p id="error-Address"></p><br>
    Postal code:
    <input type="text" id="postalcode"  name="postalcode" /><p id="error-Postalcode"></p><br>
    Country:
    <input type="text" id="country"  name="country" /><p id="error-Country"></p><br>
    Shipping address:
    <input type="text" id="shipaddress" name="shipaddress" /><p id="error-Shipaddress"></p><br>
    Shipping postal code:
    <input type="text" id="shippostalcode" name="shippostalcode" /><p id="error-Shippostalcode"></p><br>
    Shipping country:
    <input type="text" id="shipcountry" name="shipcountry" /><p id="error-Shipcountry"></p><br>
    Username:
    <input type="text" id="username" name="username" /><p id="error-Username"></p><br>
    Password:
    <input type="password" id="password" name="password" /><p id="error-Password"></p><br>
</form>
<button onclick="submitRegister()">Register</button>
</body>
</html>